*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient( #bc6c25, #001510);
    min-height: 100vh;
}
.container{
    width: 320px;
    margin-top: 7%;
    height: 500px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
.stopWatch{
    margin-top: 50x;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
}
.stopWatch p{
    margin-top: 40px;
    text-align: center;
}
#result{
    margin-top: 15%;
    margin-left: 20%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #dda15e;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1.5rem #fefae0;
    color:     #dda15e ; /*     00bf8f; */
    transform: translateY(-5px);
    cursor: pointer;
    transform: 120ms;
}
#result span{
    position: relative;
    top: 80px;
    left: 30px;
}
.btn{
    margin-top: 20%;
    display: flex;
    justify-content: center;
   gap: 30px;
   
}
.btn button{
    
    border: 2px solid #000;
    color: #fff;
    background-color: rgba(17, 18, 19, 0.6);
    padding: 15px;
    border-radius: 20px;
    border: none;
    letter-spacing: 3px;
    backdrop-filter: blur();
    transform: 0.3sec;

}
.btn button:hover{
    box-shadow: 0 0 1.5rem #fefae0;
    color: #dda15e;
    transform: translateY(-5px);
    cursor: pointer;
    transform: 120ms;
}
.title{
    
    border: 2px solid #000;
    color: #fff;
    background-color: rgba(44, 46, 48, 0.6);
    padding: 10px;
    border: none;
    letter-spacing: 3px;
    backdrop-filter: blur();
    transform: 0.3sec;
    box-shadow: 0 0 1.5rem #fefae0;
    color: #dda15e;
    transform: translateY(-5px);
    cursor: pointer;
    transform: 120ms;
}

